* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.navApp {
  width: 100%;
  justify-content: space-around;
  height: 4.375rem;
  box-shadow: 0px 0.188rem 0.376rem 0px rgba(0, 0, 0, 0.2901960784);
  color: #08A6E4;
}
.navApp__title {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-block-start: 0%;
  width: 12.875rem;
  line-height: 2.313rem;
  padding-top: 5%;
  margin-left: 6.5%;
  font-size: 2rem;
  font-weight: 300;
}
.navApp__opciones {
  width: 1.2875rem;
  font-size: 1.8rem;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 25%;
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: white;
  color: #08A6E4;
}

.sellMore__datacontainer {
  margin: 0 auto;
  text-align: center;
  width: 19.375rem;
  height: 13.313rem;
  margin-top: 6.25rem;
}
.sellMore__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.188rem;
  line-height: 2.568rem;
  font-weight: 400;
}
.sellMore__content {
  font-family: "Open Sans", sans-serif;
  margin-top: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.438rem;
  padding: 0 2rem;
}
.sellMore__button {
  font-family: "Open Sans", sans-serif;
  margin-top: 1.75rem;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border-radius: 2.5rem;
  padding: 1.6rem 5.55rem;
  font-family: "Open Sans", "sans-serif";
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
}
.sellMore__image {
  margin-top: 3.188rem;
}

.advertisement {
  height: 130.645rem;
  text-align: center;
  margin-top: 0.813rem;
}
.advertisement__title {
  margin: 0 auto;
  width: 18.938rem;
  height: 7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 2.188rem;
  font-size: 1.875rem;
  margin-bottom: 1.563rem;
}
.advertisement__achievements1 {
  margin: 0 auto;
  width: 7.313rem;
  height: 8.75rem;
  margin-bottom: 1.563rem;
}
.advertisement__achievements1__img2 {
  position: absolute;
  padding-top: 0.188rem;
  left: 11.65rem;
}
.advertisement__achievements1__amounttxt {
  margin-top: 0.886rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.373rem;
}
.advertisement__achievements1__subject {
  margin-top: 1.194rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: #A5A5A5;
}
.advertisement__achievements2 {
  margin: 0 auto;
  width: 11rem;
  height: 10.438rem;
  margin-bottom: 1.563rem;
}
.advertisement__achievements2__img2 {
  position: absolute;
  padding-top: 0.766rem;
  left: 11rem;
}
.advertisement__achievements2__amounttxt {
  margin-top: 0.813rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.373rem;
}
.advertisement__achievements2__subject {
  margin-top: 1.188rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.188rem;
  color: #A5A5A5;
  padding-left: 1.5rem;
  padding-right: 2.2rem;
}
.advertisement__achievements3 {
  margin: 0 auto;
  width: 10.188rem;
  height: 10.5rem;
  margin-bottom: 3.125rem;
}
.advertisement__achievements3__img2 {
  position: absolute;
  padding-top: 0.38rem;
  left: 11.75rem;
}
.advertisement__achievements3__amounttxt {
  margin-top: 0.889rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.373rem;
}
.advertisement__achievements3__subject {
  margin-top: 1.188rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: #A5A5A5;
  padding-left: 1.75rem;
  padding-right: 2.2rem;
}
.advertisement__goforit {
  padding-top: 2.319rem;
  padding-bottom: 2.319rem;
  background-color: #F7F7F7;
  align-items: start;
}
.advertisement__goforit__1 {
  background-color: white;
  padding-top: 0.8rem;
  margin: 0 auto;
  width: 314px;
  height: 370px;
  margin-bottom: 2.563rem;
  position: relative;
}
.advertisement__goforit__1__img1 {
  position: absolute;
  top: 2.175rem;
  left: 3.3rem;
  padding-right: 1rem;
  z-index: 1;
}
.advertisement__goforit__1__img2 {
  padding-bottom: 0.75rem;
  padding-left: 6rem;
}
.advertisement__goforit__1__title {
  margin-top: 2.685rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.201rem;
  width: 12.375rem;
  height: 4.5rem;
  margin-left: 1.375rem;
}
.advertisement__goforit__1__text {
  text-align: left;
  margin-top: 0.625rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.313rem;
  font-weight: 400;
  width: 17rem;
  height: 5.25rem;
  margin-left: 1.35rem;
}
.advertisement__goforit__2 {
  background-color: white;
  margin: 0 auto;
  width: 315px;
  height: 370px;
  margin-bottom: 2.625rem;
}
.advertisement__goforit__2__img1 {
  padding-top: 0.75rem;
  padding-right: 1rem;
}
.advertisement__goforit__2__img2 {
  padding-top: 1.2rem;
  position: absolute;
  left: 7.3rem;
  z-index: 1;
}
.advertisement__goforit__2__title {
  text-align: start;
  margin-top: 1.685rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.201rem;
  width: 13.625rem;
  height: 4.375rem;
  margin-left: 1.375rem;
}
.advertisement__goforit__2__text {
  text-align: left;
  margin-top: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.313rem;
  font-weight: 400;
  width: 17rem;
  height: 5.25rem;
  margin-left: 1.35rem;
}
.advertisement__goforit__3 {
  background-color: white;
  margin: 0 auto;
  width: 19.625rem;
  height: 30.413rem;
  padding-top: 1.938rem;
  position: relative;
}
.advertisement__goforit__3__title {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.201rem;
  width: 17.125rem;
  height: 6.813rem;
  margin-left: 1.25rem;
}
.advertisement__goforit__3__text {
  text-align: left;
  margin-top: 1.271rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.362rem;
  font-weight: 400;
  width: 17.125rem;
  height: 7.125rem;
  margin-left: 1.25rem;
}
.advertisement__goforit__3__img1 {
  padding-top: 1.042rem;
}
.advertisement__goforit__3__img2 {
  position: absolute;
  top: 19.7rem;
  left: -0.6rem;
  z-index: 1;
}

.pricing {
  margin-top: 3.334rem;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
