* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.navApp {
  width: 100%;
  height: 4.375rem;
  box-shadow: 0px 0.188rem 0.376rem 0px rgba(0, 0, 0, 0.2901960784);
  color: #08A6E4;
}
.navApp__title {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-block-start: 0%;
  width: 12.875rem;
  line-height: 2.313rem;
  padding-top: 5%;
  margin-left: 6.5%;
  font-size: 2rem;
  font-weight: 300;
}
.navApp__opciones {
  width: 1.2875rem;
  font-size: 1.8rem;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 25%;
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: white;
  color: #08A6E4;
}

.sellMore__datacontainer {
  margin: 0 auto;
  text-align: center;
  width: 19.375rem;
  height: 13.313rem;
  margin-top: 6.25rem;
}
.sellMore__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.188rem;
  line-height: 2.568rem;
  font-weight: 400;
}
.sellMore__content {
  font-family: "Open Sans", sans-serif;
  margin-top: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.438rem;
  padding: 0 2rem;
}
.sellMore__button {
  font-family: "Open Sans", sans-serif;
  margin-top: 1.75rem;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border-radius: 2.5rem;
  padding: 1.6rem 5.55rem;
  font-family: "Open Sans", "sans-serif";
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  border-color: transparent;
}
.sellMore__image {
  margin-top: 3.188rem;
}

.advertisement {
  height: 130.645rem;
  text-align: center;
  margin-top: 0.813rem;
}
.advertisement__title {
  margin: 0 auto;
  width: 18.938rem;
  height: 7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 2.188rem;
  font-size: 1.875rem;
  margin-bottom: 1.563rem;
}
.advertisement__achievements1 {
  margin: 0 auto;
  width: 7.313rem;
  height: 8.75rem;
  margin-bottom: 1.563rem;
}
.advertisement__achievements1__img2 {
  position: absolute;
  padding-top: 0.188rem;
  left: 11.65rem;
}
.advertisement__achievements1__amounttxt {
  margin-top: 0.886rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.373rem;
}
.advertisement__achievements1__subject {
  margin-top: 1.194rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: #A5A5A5;
}
.advertisement__achievements2 {
  margin: 0 auto;
  width: 11rem;
  height: 10.438rem;
  margin-bottom: 1.563rem;
}
.advertisement__achievements2__img2 {
  position: absolute;
  padding-top: 0.766rem;
  left: 11rem;
}
.advertisement__achievements2__amounttxt {
  margin-top: 0.813rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.373rem;
}
.advertisement__achievements2__subject {
  margin-top: 1.188rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.188rem;
  color: #A5A5A5;
  padding-left: 1.5rem;
  padding-right: 2.2rem;
}
.advertisement__achievements3 {
  margin: 0 auto;
  width: 10.188rem;
  height: 10.5rem;
  margin-bottom: 3.125rem;
}
.advertisement__achievements3__img2 {
  position: absolute;
  padding-top: 0.38rem;
  left: 11.75rem;
}
.advertisement__achievements3__amounttxt {
  margin-top: 0.889rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.373rem;
}
.advertisement__achievements3__subject {
  margin-top: 1.188rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: #A5A5A5;
  padding-left: 1.75rem;
  padding-right: 2.2rem;
}
.advertisement__goforit {
  padding-top: 2.319rem;
  padding-bottom: 2.319rem;
  background-color: #F7F7F7;
  align-items: start;
}
.advertisement__goforit__1 {
  background-color: white;
  padding-top: 0.8rem;
  margin: 0 auto;
  width: 314px;
  height: 370px;
  margin-bottom: 2.563rem;
  position: relative;
}
.advertisement__goforit__1__img1 {
  position: absolute;
  top: 2.175rem;
  left: 3.3rem;
  padding-right: 1rem;
  z-index: 1;
}
.advertisement__goforit__1__img2 {
  padding-bottom: 0.75rem;
  padding-left: 6rem;
}
.advertisement__goforit__1__title {
  margin-top: 2.685rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.201rem;
  width: 12.375rem;
  height: 4.5rem;
  margin-left: 1.375rem;
}
.advertisement__goforit__1__text {
  text-align: left;
  margin-top: 0.625rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.313rem;
  font-weight: 400;
  width: 17rem;
  height: 5.25rem;
  margin-left: 1.35rem;
}
.advertisement__goforit__2 {
  background-color: white;
  margin: 0 auto;
  width: 315px;
  height: 370px;
  margin-bottom: 2.625rem;
}
.advertisement__goforit__2__img1 {
  padding-top: 0.75rem;
  padding-right: 1rem;
}
.advertisement__goforit__2__img2 {
  padding-top: 1.2rem;
  position: absolute;
  left: 7.3rem;
  z-index: 1;
}
.advertisement__goforit__2__title {
  text-align: start;
  margin-top: 1.685rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.201rem;
  width: 13.625rem;
  height: 4.375rem;
  margin-left: 1.375rem;
}
.advertisement__goforit__2__text {
  text-align: left;
  margin-top: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.313rem;
  font-weight: 400;
  width: 17rem;
  height: 5.25rem;
  margin-left: 1.35rem;
}
.advertisement__goforit__3 {
  background-color: white;
  margin: 0 auto;
  width: 19.625rem;
  height: 30.413rem;
  padding-top: 1.938rem;
  position: relative;
}
.advertisement__goforit__3__title {
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.201rem;
  width: 17.125rem;
  height: 6.813rem;
  margin-left: 1.25rem;
}
.advertisement__goforit__3__text {
  text-align: left;
  margin-top: 1.271rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.362rem;
  font-weight: 400;
  width: 17.125rem;
  height: 7.125rem;
  margin-left: 1.25rem;
}
.advertisement__goforit__3__img1 {
  padding-top: 1.042rem;
}
.advertisement__goforit__3__img2 {
  position: absolute;
  top: 19.7rem;
  left: -0.6rem;
  z-index: 1;
}

.pricing {
  margin-top: 3.334rem;
  text-align: center;
}
.pricing__mainTitle {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.641rem;
  height: 2.625rem;
  width: 7.125rem;
  display: inline-block;
  margin-bottom: 0.875rem;
}
.pricing__art {
  width: 18.313rem;
  height: 17.188rem;
  border: 1px solid;
  position: relative;
  display: inline-block;
  margin-bottom: 3.375rem;
  border-radius: 1.125rem;
  text-align: center;
  transition: box-shadow 0.5s;
  transition: transform 0.5s ease;
}
.pricing__art__containerMode {
  width: 40%;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: top;
}
.pricing__art__containerMode__title {
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 4.375rem;
  color: #13253B;
  padding-left: 1rem;
}
.pricing__art__containerMode__amount {
  font-family: "Open Sans";
  font-size: 2.875rem;
  font-weight: 300;
  line-height: 4rem;
  padding-left: 1rem;
}
.pricing__art__containerMode__description {
  font-family: "Raleway";
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.881rem;
  padding-left: 1rem;
}
.pricing__art__containerAdvantages {
  width: 40%;
  margin-left: 0.5rem;
  display: inline-block;
}
.pricing__art__containerAdvantages__img {
  display: inline;
}
.pricing__art__containerAdvantages__line {
  width: 80%;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.192rem;
  text-align: left;
  margin-top: 1.25rem;
}
.pricing__art:hover {
  box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
  transform: scale(1.15);
}
.pricing__button {
  position: absolute;
  width: 9.375rem;
  height: 3.125rem;
  right: 4.1565rem;
  margin-top: 15.688rem;
  border-radius: 1.438rem;
  border-color: 0px;
  color: #FFFFFF;
  border-width: 0;
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 1.106rem;
  font-family: "Open Sans", "sans serif";
}

.redButton {
  background-color: #EB476E;
}

.blueButton {
  background-color: #07ACE6;
}

.greenButton {
  background-color: #55DFB4;
}

.containerRed {
  border-color: #FB3B64;
}

.containerBlue {
  border-color: #07ACE6;
}

.containerGreen {
  border-color: #55DFB4;
}

.textRed {
  color: #FB3B64;
}

.textBlue {
  color: #07ACE6;
}

.textGreen {
  color: #55DFB4;
}

.questions {
  margin-top: 3.313rem;
  text-align: center;
  margin-bottom: 17.75rem;
}
.questions__title {
  font-family: "Raleway";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.935rem;
  text-align: left;
  margin-left: 1.875rem;
}
.questions__attention {
  margin-top: 0.313rem;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-align: left;
  margin-left: 1.875rem;
  margin-bottom: 2.375rem;
}
.questions__img {
  display: inline;
  margin-left: 1.875rem;
}
.questions__text {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  text-align: left;
  width: 80%;
  color: #A5A5A5;
  min-height: 1.688rem;
  vertical-align: top;
}
.questions__form {
  height: 157px;
  text-align: left;
  margin-left: 1.875rem;
}
.questions__form__label {
  display: block;
  font-family: "Open Sans";
  font-size: 0.688rem;
  font-weight: 600;
  line-height: 0.936rem;
  letter-spacing: 0.205rem;
  text-align: left;
  color: #08A6E4;
  margin-bottom: 1.324rem;
}
.questions__form__input {
  border: none;
  border-bottom: 1px solid #95989A;
  margin-bottom: 1.75rem;
  width: 19.5rem;
  display: block;
}
.questions__form__checkbox {
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
}
.questions__form__text {
  display: inline-block;
  width: 17.313rem;
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.021rem;
  text-align: left;
  margin-bottom: 2.063rem;
}
.questions__form__send {
  width: 14.125rem;
  height: 3.563rem;
  margin-left: 5.5rem;
  display: block;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  background-color: #08A6E4;
  border-radius: 2.188rem;
  font-family: "Open Sans";
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 1.106rem;
  color: #FFFFFF;
}

.text1 {
  margin-bottom: 0.625rem;
}

.text2 {
  margin-bottom: 3.313rem;
}

.footer {
  box-shadow: 0px 0.188rem 1.376rem 0px rgba(0, 0, 0, 0.2901960784);
  height: 5.563rem;
}
.footer__textContainer {
  display: inline-block;
  width: 13.75rem;
}
.footer__textContainer__title {
  font-family: "Raleway";
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.875rem;
  text-align: left;
  margin-left: 1.063rem;
  padding-top: 1.405rem;
  color: #08A6E4;
  vertical-align: top;
}
.footer__textContainer__rights {
  margin-left: 1.063rem;
  font-family: "Open Sans";
  font-size: 0.688rem;
  font-weight: 400;
  line-height: 0.936rem;
  text-align: left;
  color: #A5A5A5;
}
.footer__imgContainer {
  margin-left: 3.563rem;
  display: inline-block;
  width: 80px;
}
.footer__imgContainer__img1 {
  margin-right: 1.25rem;
}
.footer__imgContainer__img2, .footer__imgContainer__img1 {
  margin-bottom: 0.3rem;
}

/*# sourceMappingURL=main.css.map */
