* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   min-width: 320px;
}

@import 'styles/header.scss';
@import 'styles/section1sellMore.scss';
@import 'styles/section2advertisement.scss';