.navApp{
    width:100%;
    justify-content: space-around;
    height:4.375rem;
    box-shadow:rgba(0,0,0,0.4) 0px 4px;

    &__title{
        display:inline-block;
        width:12.875rem;
        line-height: 2.313rem;
        padding-top: 5%;
        margin-left: 5%;
        font-size: 2rem;
        font-weight: 300;
        position:absolute;
        left:0;
    }
    &__opciones{
        margin-top: 6%;
        margin-right: 5%;
        display: inline-block;
        position: absolute;
        right:0;
    }
}