.navApp{
    width:100%;
    height:4.375rem;
    box-shadow: 0px 0.188rem 0.376rem 0px #0000004A;  

    &__progreso{
        position:fixed;
        top:0;
        left:0;
        z-index: 1000;
        width:100%;
        height:0.2rem;
    }

    &__main{
        position:relative;
        &__title{
            font-family: "Raleway", sans-serif;
            display: inline-block;  
            margin-left: 6.5%;
            padding-top: 0.5rem;
            font-size: 2rem;
            font-weight: 300;
            width:80%;
            color: #08A6E4;
            vertical-align: top;
        }
        &__opciones{
            display: inline-block;
            font-size: 1.8rem;
            padding-top: 0.5rem;
            margin-right: 5%;
            width:5%;
            border: none;
            text-decoration: none;
            background-color: white;
            color:#08A6E4;
            vertical-align: top;
        }
    }
    &__otherVisible{
        height: 11em;
        position: absolute;
        margin-top: 0.9rem;        
        width:100%;
        z-index: 1;
        box-shadow: 0px 0.188rem 0.376rem 0px #0000004A;  
        &__opcionesWide{
            display: block;            
            top:4.5rem;
            color: #A5A5A5;
            font-family: Open Sans;
            font-size: 11px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 3.2799999713897705px;
            text-align: left;
            padding-top: 1.3rem;
            padding-left: 6.5%;
            background-color: white;
        }
        &__opcionesWide:hover{
            color:#000000
        }
    }

    &__otherHidden{
        &__opcionesWide{
            display:none
        }
    }
}

@media only screen and (min-width: 1000px) {
    .navApp{
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        &__main{
            &__title{
                vertical-align: top;
                padding-top: 2%;
                margin-left: 4.5rem;
            }

            &__opciones{
                display:none;
            }
            
        }  

        &__otherVisibleWide{
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-width: 45%;
            &__opcionesWide{    
                padding-top: 1.5rem;
                min-height: 4.375rem;    
                display: flex;        
                font-family: "Open Sans";
                font-size: 0.688rem;
                font-weight: 700;
                line-height: 0.938rem;
                letter-spacing: 0.205rem;
                text-align: center;
                color: #A5A5A5;
            }
            &__opcionesWide:hover{
                color: #000000;
                border-bottom: 4px solid #08A6E4;
            }
            
        }
    }    
}