

.pricing{
    margin-top: 3.334rem;
    text-align: center;
    align-items: center;
    &__mainTitle{
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 2.641rem;
        height:2.625rem;
        width:7.125rem;
        display: inline-block;
        margin-bottom: 0.875rem;
    }
    &__art{
        width:18.313rem;
        height:17.188rem;
        border: 1px solid #FB3B64;
        position: relative;
        display: inline-block;
        margin-bottom: 3.375rem;
        border-radius: 1.125rem;    
        text-align: center;    
        &__containerMode{
            width:48%;
            display: inline-block;
            &__title{                
                font-family: "Raleway";
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 1.5rem;
                margin-top: 4.375rem;
                color: #13253B;
                padding-left: 1rem;
            }
            &__amount{
                font-family: "Open Sans";
                font-size: 2.875rem;
                font-weight: 300;
                line-height: 4rem;
                padding-left: 1rem;
            }
            &__description{
                font-family: "Raleway";
                font-size: 0.75rem;
                font-weight: 700;
                line-height: 0.881rem;
                padding-left: 1rem;
            }
        }

        &__containerAdvantages{
            width:50%;
            display: inline-block;
            &__img{
                display: inline-block;
            }
            &__line{
                display: inline-block;
            }
        }
    }
    &__button{
        position: absolute;
        width:9.375rem;
        height:3.125rem;
        right:7.1565rem;
        margin-top: 15.688rem; 
        border-radius: 1.438rem;
        border-color: 0px;
        background-color: #EB476E;
        color:#FFFFFF;
        border-width: 0;
        font-size: 0.813rem;
        font-weight: 700;
        line-height: 1.106rem;
        font-family: "Open Sans", "sans serif";
    }
}