.advertisement{
    height:130.645rem;
    text-align:center;
    margin-top: 0.813rem;
    &__title{
        margin: 0 auto;
        width:18.938rem;
        height:7rem;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        line-height: 2.188rem;
        font-size:1.875rem;
        margin-bottom: 1.563rem;;
    }

    &__achievements1{        
        margin: 0 auto;
        width:7.313rem;
        height:8.75rem;
        &__img1{
            
        }
        &__img2{
            position: absolute;
            left:11.65rem;
        }
        &__amounttxt{
            margin-top: 0.886rem;
            font-family: "Raleway", sans-serif;
            font-weight:800;
            font-size:1.25rem;
            line-height:1.5rem;
            letter-spacing: 0.373rem;
        }
        &__subject{
            margin-top: 1.194rem;
            font-family: "Raleway", sans-serif;
            font-weight:400;
            font-size: 1.063rem;
            line-height: 1.25rem;
            color:#A5A5A5;            
        }
    }
}