.advertisement{
    height:130.645rem;
    text-align:center;
    margin-top: 0.813rem;
    &__title{
        margin: 0 auto;
        width:18.938rem;
        height:7rem;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        line-height: 2.188rem;
        font-size:1.875rem;
        margin-bottom: 1.563rem;
    }

    &__achievements1{        
        margin: 0 auto;
        width:7.313rem;
        height:8.75rem;
        margin-bottom: 1.563rem;
        &__img2{
            position: absolute;
            padding-top: 0.188rem;
            left:11.65rem;
        }
        &__amounttxt{
            margin-top: 0.886rem;
            font-family: "Raleway", sans-serif;
            font-weight:800;
            font-size:1.25rem;
            line-height:1.5rem;
            letter-spacing: 0.373rem;
        }
        &__subject{
            margin-top: 1.194rem;
            font-family: "Raleway", sans-serif;
            font-weight:400;
            font-size: 1.063rem;
            line-height: 1.25rem;
            color:#A5A5A5;            
        }
    }

    &__achievements2{
        margin: 0 auto;
        width:11rem;
        height:10.438rem;
        margin-bottom: 1.563rem;
        &__img2{
            position: absolute;
            padding-top: 0.766rem;
            left:11rem;
        }
        &__amounttxt{
            margin-top: 0.813rem;
            font-family: "Raleway", sans-serif;
            font-weight:800;
            font-size:1.25rem;
            line-height:1.5rem;
            letter-spacing: 0.373rem;
        }
        &__subject{
            margin-top: 1.188rem;
            font-family: "Raleway", sans-serif;
            font-weight:400;
            font-size: 1rem;
            line-height: 1.188rem;
            color:#A5A5A5;      
            padding-left: 1.5rem;      
            padding-right: 2.2rem;
        }
    }

    &__achievements3{
        margin: 0 auto;
        width:10.188rem;
        height:10.5rem;        
        margin-bottom: 3.125rem;
        &__img2{
            position: absolute;
            padding-top: 0.38rem;
            left:11.75rem;
        }
        &__amounttxt{
            margin-top: 0.889rem;
            font-family: "Raleway", sans-serif;
            font-weight:800;
            font-size:1.25rem;
            line-height:1.5rem;
            letter-spacing: 0.373rem;
        }
        &__subject{
            margin-top: 1.188rem;
            font-family: "Raleway", sans-serif;
            font-weight:400;
            font-size: 1.063rem;
            line-height: 1.25rem;
            color:#A5A5A5;      
            padding-left: 1.75rem;      
            padding-right: 2.2rem;
        }
    }

    &__goforit{
        padding-top: 2.319rem;
        padding-bottom: 2.319rem;
        background-color: #F7F7F7;
        align-items: start;     
        
        &__1{
            background-color: white;
            padding-top: 0.8rem;
            margin: 0 auto;
            width:314px;
            height:370px;
            margin-bottom: 2.563rem;            
            position:relative;
            &__img1{
                position: absolute;
                top:2.175rem;
                left:3.3rem;
                padding-right: 1rem;
                z-index: 1;
            }
            &__img2{
                padding-bottom: 0.75rem;
                padding-left: 6rem;
            }
            &__title{
                margin-top: 2.685rem;
                font-family: "Raleway", sans-serif;
                font-weight:400;
                font-size:1.875rem;
                line-height:2.201rem;
                width:12.375rem;
                height:4.5rem;
                margin-left: 1.375rem;
            }
            &__text{
                text-align: left;
                margin-top: 0.625rem;
                font-family: "Open Sans", sans-serif;
                font-size:0.875rem;
                line-height: 1.313rem;
                font-weight:400;
                width:17rem;
                height:5.25rem;
                margin-left: 1.35rem;
            }
        }
        &__2{
            background-color: white;
            margin: 0 auto;
            width:315px;
            height:370px;
            margin-bottom: 2.625rem;            
            &__img1{
                padding-top: 0.75rem;
                padding-right: 1rem;
            }
            &__img2{
                padding-top: 1.2rem;
                position: absolute;
                left:7.3rem;
                z-index: 1;
            }
            &__title{                
                text-align:start;            
                margin-top: 1.685rem;
                font-family: "Raleway", sans-serif;
                font-weight:400;
                font-size:1.875rem;
                line-height:2.201rem;
                width:13.625rem;
                height:4.375rem;
                margin-left: 1.375rem;
            }
            &__text{
                text-align: left;
                margin-top: 1.125rem;
                font-family: "Open Sans", sans-serif;
                font-size:0.875rem;
                line-height: 1.313rem;
                font-weight:400;
                width:17rem;
                height:5.25rem;
                margin-left: 1.35rem;
            }
        }
        &__3{
            background-color: white;
            margin: 0 auto;
            width:19.625rem;
            height:30.413rem;
            padding-top: 1.938rem;
            position:relative;      
            &__title{
                text-align: left;
                font-family: "Raleway", sans-serif;
                font-weight:400;
                font-size:1.875rem;
                line-height:2.201rem;
                width:17.125rem;
                height:6.813rem;
                margin-left: 1.25rem;
            }
            &__text{
                text-align: left;
                margin-top: 1.271rem;
                font-family: "Open Sans", sans-serif;
                font-size:1rem;
                line-height: 1.362rem;
                font-weight:400;
                width:17.125rem;
                height:7.125rem;
                margin-left: 1.25rem;
            }
            &__img1{
                padding-top: 1.042rem;
            }
            &__img2{
                position: absolute;
                top:19.7rem;
                left:-0.6rem;
                z-index: 1;
            }
        }
    }
}